doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/libs.css")

  body

    #wrapper
      #iphone
        #side
        #lines
          div
            div
              div
          div
            div
              div
        #toggler
          div
        #aux
        #lightning
        #bottom-speaker
          div
          div
          div
          div
          div
          div
          div
        #skrews
          div
          div
        #volume
          div
          div
        #front
          #front-cover
          #camera
            div
          #speaker
          #screen
            #signal
              div
              div
              div
              div
              div
            #battery
              div 86%
              div
                div
                div
            #calc
              div#output 0
              ul#calc-buttons
                li.top AC
                li.top ±
                li.top %
                li.ops ÷
                li 7
                li 8
                li 9
                li.ops ×
                li 4
                li 5
                li 6
                li.ops −
                li 1
                li 2
                li 3
                li.ops +
                li.wide 0
                li ,
                li.ops
                  |=

          #home
            div
        #shadow

    script(src='js/main.js')
